body {
    background-color: rgb(10, 10, 10);
    color: white;
}

.blocks {
    display: flex;
    justify-content: center;
}

.block {
    width: 40%;
    border-radius: 16px;
    margin: 20px 10px;
    background: rgb(10, 10, 10);
    border: 1px solid rgb(100, 100, 100);
    padding: 10px 10px;

}

.NetflixLogo {
    width: 30%;
    margin-top: 5%;
    margin-left: 10%;
}
.filmPic{
    width: 80%;
    margin-left: 10%;
}